{{!--

<body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
        <!DOCTYPE html>
        <html>
        <head>
          <style>
            .centered-div {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 10vh;
            }
          </style>
        </head>
        <body>
            <h2>About</h2>
                Somos una empresa pequeña que enrealidad es una persona en su cuarto, El cual esta haciendo un 
                proyecto universitario asosiado con la creacion  de  webs  con nodejs, una buena parte de este 
                proyecto con bases y informacion suministrada por otras personas asi que este aparatado quiero 
                que sea para los agradecimientos y dar  creditos  a esas personas y librerias muy utiles en la 
                creacion de la pagina
          
          <div class="centered-div">
            <!-- Aquí puedes escribir tu contenido -->
            <p> 
                Stack Findover=https://www.youtube.com/watch?v=cp3Lnnk5UvM&t=157s
                
               
            </p>
           
          </div>
          <div class="centered-div">
           
            <p> 
                OFICIAL TOPS=https://www.youtube.com/watch?v=vhRbZ4pC-dk&t=216s</p>
                
          </div>
          <div class="centered-div">
                 <p> 
                HTML2PDF libreria</p>
          </div>
          <div class="centered-div">
                 <p> 
                http://atlas.ideam.gov.co/visorAtlasRadiacion.html</p>
          </div>
           <div class="centered-div">
                 <p> 
                javiersierrasoftware=https://github.com/javiersierrasoftware</p>
          </div>
          <div class="centered-div">
                 <p> 
                Muchas Gracias a Todos </p>
          </div>
        </body>
        </html>
    
      
                                  
    </div>
  </div>
   
</div>
<!-- ./wrapper -->