{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"> Sistema fotovoltaico conectado a red <small> (Luxmeter)</small></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
        <div ><img src="/img/panel.jpg" class="rounded mx-auto d-block"  
         width="300" height="250"  
        
         style="opacity: .9"></div>
         
    <!-- Main content -->
    <div class="content">
     
           
      <div class="container">
        
           
        <div class="row">
            
                Nuestra pagina esta diseñada para generar una hoja de datos mediante unas formas donde podra 
                saber cuantos paneles de una potencia introducida Necesita para suministrar energia a su hogar
                ya sea parcialmente o totalmente, tambien se le suministrata su gasto promedio mensual, 
                su gasto promedio diario, la potencia generada con los paneles y el inversor recomendado
                todo esto solo con introducir la radiacion solar de su ubicacion y lo consumido en su hogar 
                durante 6 meses. 
              </div>
          <div class="col-lg-6">
            
           

              
                        

         
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar cossssntent</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->


</div>
<!-- ./wrapper -->

