  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Proyecto panel - Luxmeter 2023
    </div>
    <!-- Default to the left -->
    <strong>TradeMark &trade; 2023 <a href="">Luxmeter</a>.</strong> 